@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

.firstCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2.6vw 0;
}
.cards{
  padding: 2.6vw 0;
  width: 100%;
}
.searchBar{
  display: flex;
  justify-content: center;
}
.hr{
  background-color: rgba(255, 99, 21, 1);
  margin: 0;
}
