.container{
  width: 325px;
  max-height: 420px;
  border: 1px rgb(251,187,4) solid;
  border-radius: 0.3vw;
  display: grid;
  grid-template-rows: 5% 15% 80%;
  grid-template-areas: 
  "contBtn"
  "titleCont"
  "info";
  justify-content: center;
  align-items: center;
}
.titleCont{
  grid-area: titleCont;
  width: 325px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10vh 0vw 0vh 0vw;
}
.city{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 1vw;
  font-size: 2vw;
}
.country{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  padding-right: 1vw;
}
.h1{
  font-size: 3vw;
  color: white;
  width: 325px;
  text-align: center;
}
.h1:hover{
  text-decoration: none;
  color: rgb(251,187,4);
}
.p{
  color: white;
  font-size: 1.4vw;
  margin: 0vh 0vw;
}
.img{
  margin: 0vh 0vw;
}
.info{
  grid-area: info;
  width: 325px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  margin-top: 10vh;
  line-height: 2;
}
.weather{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.descr{
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.temp{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tempGlobal{
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tempSpec{
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.aditionalInfo{
  grid-area: info;
  width: 325px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  line-height: 2;
}
.humidity{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  align-items: center;
}
.placeInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  align-items: center;
}
.lat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.long{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.atmInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  align-items: center;
}
.clouds{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wind{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h2{
  color: rgb(251,187,4);
  font-size: 1.4vw;
  margin: 0vh 0vw;
}

.btnClose{
  background-color: rgb(251,187,4);
  border-radius: 0.3vw;
  border: none;
  cursor: pointer;
  color: white;
  width: 30px;
  height: 30px;
}
.btnClose:hover{
  background-color: red;
  color: white;
}
.contBtn{
  grid-area: contBtn;
  width: 325px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5vh 0.7vw 0vh 0vw;
}
.foot{
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.foot>a{
  cursor: pointer;
  color: white;
  font-size: 1vw;
}