.ciudad{
    display: flex;
    flex-direction: column;
    margin: 6vw 2vw;
    font-size: 2vw;
    color: rgba(255, 99, 21, 1);
    border: 1px rgba(255, 99, 21, 1) solid;
    padding: 2vw;
    width: 96vw;
}
.datos{
    display: flex;
    flex-direction: column;
}
.datos>div{
    font-size: 1.5vw;
    color: white;
}