.rightCont{
    width: 30%;
    height: 100%;
    background-color: transparent;
    padding: 20px 30px;
}

.greetingMessageCont, .descriptionCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.greetingMessage, .actualHour, .weatDescription {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: rgba(50,50,50,255);
    margin: 0;
}

.actualHour, .weatDescription{
    font-size: 25px;
}

.weatDescription{
    color: rgba(105,105,105,255);
}

.hourDescription{
    margin-top: 10px;
    color: rgba(105,105,105,255);
    font-size: 20px;
    font-weight: 600;
}

.tempMinMax {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
}

.tempMin, .tempMax {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    color: rgba(105,105,105,255);
    margin: 10px 0px;
}

.tempMinMax>p>svg{
    margin-right: 10px;
}

.hourlyWeatherCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 0;
}

.hourly {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: auto;
    padding: 10px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    color: rgba(50, 50, 50, 255);
    font-weight: 600;
    border-radius: 8px;
    background-color: rgba(200, 200, 200, 255);
    margin-bottom: 25px;
}

.date,
.temp,
.description {
    width: 100%;
    font-size: 12px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

.temp{
    font-size: 20px;
}

.description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    display: inline-block;
    padding-top: 5px;
    font-size: 10px;
}