.timezoneCont {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
}

.sunrise,
.sunset {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    color: rgba(105, 105, 105, 255);
    margin: 10px 0px;
    width: 50%;
}

.timezoneCont>p>svg {
    margin-right: 10px;
}