.container{
  width: 325px;
  height: 100vw;
  margin-top: 5vh;
}
.card{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 60vh 10vh;
  grid-template-areas: 
  "Card Card Card Card"
  "About About About About";
}
.h1{
  font-size: 30px;
  color: white;
  width: 325px;
  text-align: center;
  margin-top: 50px;
}