.mainInfoCont{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.temp{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 70%;
    height: 250px;
}

.temp>span{
    font-size: 250px;
    font-weight: 600;
    color: rgba(105,105,105,255);
}

.compInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 30%;
    height: 250px;
}

.compInfo>p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    font-size: 25px;
    color: rgba(105,105,105,255);
    font-weight: 600;
    padding-left: 10px;
}

.compInfo>p>svg{
    margin-right: 15px;
}

.weatherCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 20px;
}

.weatherCont{
    font-size: 50px;
    font-weight: 600;
    color: rgba(105,105,105,255);
}

.weatherImgCont{
    border-radius: 50%;
    background-color: rgba(200,200,200,255);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}